
h3 {
    margin-top: 8em;
    text-align: left;
    font-size: 1.5em;
    font-weight: 500;
}

section {
    margin: 2em 6em;
}

#messages-container {
    margin:0;
}

div:nth-of-type(2n) {
    padding: 0.5em;
    background-color: #1E1E1E;
}

.q-file-name {
    font-size: 1.5em;
    padding: 0.5em;
    margin:2em 0 0 0;
}

.q-file-name:first-of-type {
    margin: 0;
}

.q-file-uploaded {
    font-size: 1em;
    padding: 0.5em;
    margin: 0;
}

.q-label {
    font-size: 1em;
    padding: 0.5em;
    margin:0;
}

.q-q-time {
    padding: 0.2em;
    margin:0;
    font-size: 0.7em;
    color: #CACACA;
}

.q-q {
    font-size: 1em;
    padding: 0.5em;
    margin:0 3em;
}
.q-q-response {
    padding: 0.5em;
    margin:0 3em 1em 4em;
    color: #EEEEEE
}
