:root {
    font-family: "Poppins", sans-serif;
    font-size: 12pt;
}

body {
    margin: 0;
    background-color: #B6DCFE;
}

nav {
    position: fixed;
    z-index:2;
    top:0;
    display: block;
    width: 100%;
    margin: 0;
    background-color: #133C55;
}

h1 {
    font-size: 3em;
    font-weight: 600;
    margin: 0.5em 0 0.5em 1em;
    color: #CDEDFD;
    text-align: left;
    display: inline-block;
}

body>nav>a>h1:hover {
    color:#D5EFFC;
    transition: all 0.3s;
}

body>nav>a>h1 {
    transition: all 0.3s;
}

nav>ul {
    text-align: right;
    display: inline;
    align-items:end;
    vertical-align: middle;
    padding: 1.5em 0;
    margin: 1.5em 2em 1.5em 0;
    float: right;
    font-size: 1em;
}
nav>ul>li {
    display: inline;
    background-color: #133C55;
    text-decoration: none;
    padding: 0.6em 0.8em;
}

nav>ul>li>a{
    text-decoration: none;
    font-size: 1.2em;
    color: #CDEDFDAA;
    font-weight: 500;
    transition: all 0.3s;
}

nav>ul>li:hover {
    background-color: #84D2F633;
    text-decoration: none;
    transition: all 0.3s;
    
    a {
        color: #E7F7FF;
    }
}

section:first-of-type {
    margin-top: 7.5em;
}
